{{ pg1_private_ip }}:5432:{{ db_name }}:{{ app_user }}:{{ app_password }}
{{ pg2_private_ip }}:5432:{{ db_name }}:{{ app_user }}:{{ app_password }}
127.0.0.1:{{ pgbouncer_listen_port }}:{{ db_name }}:{{ app_user }}:{{ app_password }}
